.game-scoreboard{
	max-width:65%;
	margin-left:auto;
	margin-right:auto;
	margin-top:320px;
	padding:0px 15px 0px;
	text-align:center;
	border: 2px solid #e47e26;
	background: rgba(0, 0, 0, .6);
}

@media only screen and (max-width: 1325px) {
  .game-scoreboard{
  	max-width: 100%;
  }
}

.scoreboard{
	padding:0px 15px;
	/*Probably replace this w/ some super sick rgb value for each team*/
	display:flex;
	justify-content: space-around;
	align-items: center;
}

.team-header,.selections{
	width:350px;
}

.selections{
	border: 2px solid #e47e26;
}

.score{
	min-width:200px;
}

.game-link{
	text-decoration: underline;
}

.match-rank{
	font-size:22px;
}

.picks{
	padding:0px 15px;
	display:flex;
	justify-content: space-around;
	text-align: center;
}

.selections{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	background-color:rgb(20, 20, 20);
}

.selection{
	padding:2px 10px;
}