@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll !important; /* Force scrollbar to always show */
  }
  
  body {
    @apply min-h-screen bg-zinc-900 text-zinc-100;
  }

  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: -1;
    background-image: url('/images/ui/site-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@layer components {
  .btn-primary {
    @apply bg-mm-blue text-white font-semibold py-2 px-4 rounded hover:bg-opacity-90 transition-colors;
  }

  .btn-outline {
    @apply bg-transparent border-2 border-mm-blue text-mm-blue font-semibold py-2 px-4 rounded hover:bg-mm-blue hover:text-white transition-colors;
  }
  
  .card {
    @apply bg-white rounded-lg shadow-md p-4;
  }
  
  .game-status {
    @apply text-center text-sm mt-2;
  }
} 