{% if matches %}
	<div class="score-ticker">
		{% for game in range(matches|length) %}
		<!--  range(matches[0]|length)  -->
	  <div class="box">
	      <div class="game-box">
	      	<div class="game-date">{{matches[loop.index-1][3]}}<span class="game-prog">{{matches[loop.index-1][2]|upper}}</span></div>
	      	{% if matches[loop.index-1][0][3] %}
	      		<div class="game-opp winner"><span class="rank">{{matches[loop.index-1][0][2]}}</span>{{matches[loop.index-1][0][2]}}{{matches[loop.index-1][0][0]}}<span class="score-opp">{{matches[loop.index-1][0][1]}}</span></div>
	      	{% else %}
	      		<div class="game-opp"><span class="rank">{{matches[loop.index-1][0][2]}}</span>{{matches[loop.index-1][0][0]}}<span class="score-opp">{{matches[loop.index-1][0][1]}}</span></div>
	      	{% endif %}	
					{% if matches[loop.index-1][1][3] %}
						<div class="game-at winner"><span class="rank">{{matches[loop.index-1][1][2]}}</span>{{matches[loop.index-1][1][0]}}<span class="score-at">{{matches[loop.index-1][1][1]}}</span></div>
	      	{% else %}
	      		<div class="game-at"><span class="rank">{{matches[loop.index-1][1][2]}}</span>{{matches[loop.index-1][1][0]}}<span class="score-at">{{matches[loop.index-1][1][1]}}</span></div>
	      	{% endif %}	
	      </div>
	  </div>
	  {% endfor %}
	</div>
{% endif %}