{% extends 'layout.html' %}
{% block body %}
  <div class="leaderboard center">
    <table class="table table-dark">
      <thead class = "thead-light">
       <tr>
        <th class="cell">Rank</th>
        <th class="cell">Score</th>
        <th class="cell-left">Username</th>
        <th class="lower-padding cell">R1</th>
        <th class="lower-padding cell">R2</th>
        <th class="lower-padding cell">R3</th>
        <th class="lower-padding cell">R4</th>
        <th class="lower-padding cell">R5</th>
        <th class="lower-padding cell">R6</th>
        <th class="lower-padding cell">Pot.</th>
        <th class="cell-left">Final Four</th>
        <th class="cell-left">Finals</th>
        <th class="cell-left">Champ</th>
        <th class="cell">Games</th>
      </tr>
    </thead>


    <!-- Scoring  Output-->
    {% for item in order %}
      <tbody>
      <tr>
        {% if users[item].round1 != "\"" %}
        <td class="cell">{{rank[loop.index-1]}}</td>
        <td class="cell">{{score[item][6]}}</td>
        <td>
        	<a href="{{ url_for('entries',id=users[item].id)}}">
        		{{users[item].firstname}} {{users[item].lastname}}
        	</a>
      	</td>
        <td class="lower-padding cell">{{score[item][0]}}</td>
        <td class="lower-padding cell">{{score[item][1]}}</td>
        <td class="lower-padding cell">{{score[item][2]}}</td>
        <td class="lower-padding cell">{{score[item][3]}}</td>
        <td class="lower-padding cell">{{score[item][4]}}</td>
        <td class="lower-padding cell">{{score[item][5]}}</td>
        <td class="lower-padding cell">{{potential[item]}}</td>
        <td class="scoreboard-img" style="position: relative; left: 0; top: 0;">
          <img src="https://i.turner.ncaa.com/sites/default/files/images/logos/schools/bgl/{{seo[end_rounds[item][0]| replace('.png', '')]}}.svg" class="images float-left">
          <img src="https://i.turner.ncaa.com/sites/default/files/images/logos/schools/bgl/{{seo[end_rounds[item][1]| replace('.png', '')]}}.svg" class="images float-left">
          <img src="https://i.turner.ncaa.com/sites/default/files/images/logos/schools/bgl/{{seo[end_rounds[item][2]| replace('.png', '')]}}.svg" class="images float-left">
          <img src="https://i.turner.ncaa.com/sites/default/files/images/logos/schools/bgl/{{seo[end_rounds[item][3]| replace('.png', '')]}}.svg" class="images float-left">
                    <!-- Winner -->
	          {% if (end_rounds[item][0] | replace('.png', '')) == master[56] %}
	            <img src="static/{{ 'winner.png' | default('NCAA_logo.svg') }}" class="overlay1 float-left" />
	          {% elif (end_rounds[item][0] | replace('.png', '')) in elim%}
	          	<img src="static/{{ 'loser.png' | default('NCAA_logo.svg') }}" class="overlay1 float-left" />
	          {% endif %}

	          {% if (end_rounds[item][1] | replace('.png', '')) == master[57] %}
	            <img src="static/{{ 'winner.png' | default('NCAA_logo.svg') }}" class="overlay2 float-left" />
	          {% elif (end_rounds[item][1] | replace('.png', '')) in elim%}
	          	<img src="static/{{ 'loser.png' | default('NCAA_logo.svg') }}" class="overlay2 float-left" />
	          {% endif %}

	          {% if (end_rounds[item][2] | replace('.png', '')) == master[58] %}
	            <img src="static/{{ 'winner.png' | default('NCAA_logo.svg') }}" class="overlay3 float-left" />
	          {% elif (end_rounds[item][2] | replace('.png', '')) in elim%}
	          	<img src="static/{{ 'loser.png' | default('NCAA_logo.svg') }}" class="overlay3 float-left" />
	          {% endif %}

	          {% if (end_rounds[item][3] | replace('.png', '')) == master[59] %}
	            <img src="static/{{ 'winner.png' | default('NCAA_logo.svg') }}" class="overlay4 float-left" />
	          {% elif (end_rounds[item][3] | replace('.png', '')) in elim%}
	          	<img src="static/{{ 'loser.png' | default('NCAA_logo.svg') }}" class="overlay4 float-left" />
	          {% endif %}
        </td>
        <td class="scoreboard-img" style="position: relative; left: 0; top: 0;">
          <img width="32" src="https://i.turner.ncaa.com/sites/default/files/images/logos/schools/bgl/{{seo[end_rounds[item][4]| replace('.png', '')]}}.svg" class="images float-left">
          <img width="32" src="https://i.turner.ncaa.com/sites/default/files/images/logos/schools/bgl/{{seo[end_rounds[item][5]| replace('.png', '')]}}.svg" class="images float-left">
					<!-- Winner -->
          {% if (end_rounds[item][4] | replace('.png', '')) == master[60] %}
            <img src="static/{{ 'winner.png' | default('NCAA_logo.svg') }}" class="overlay1 float-left" />
          {% elif (end_rounds[item][4] | replace('.png', ''))  in elim%}
          	<img src="static/{{ 'loser.png' | default('NCAA_logo.svg') }}" class="overlay1 float-left" />
          {% endif %}

          {% if (end_rounds[item][5] | replace('.png', '')) == master[61] %}
            <img src="static/{{ 'winner.png' | default('NCAA_logo.svg') }}" class="overlay2 float-left" />
          {% elif (end_rounds[item][5] | replace('.png', ''))  in elim%}
          	<img src="static/{{ 'loser.png' | default('NCAA_logo.svg') }}" class="overlay2 float-left" />
          {% endif %}
        </td>
        <td class="scoreboard-img" style="position: relative; left: 0; top: 0;">
          <img width="32" src="https://i.turner.ncaa.com/sites/default/files/images/logos/schools/bgl/{{seo[end_rounds[item][6]| replace('.png', '')]}}.svg" class="images float-left">

					<!-- Winner -->
          {% if (end_rounds[item][6] | replace('.png', '')) == master[62] %}
          	<img src="static/{{ 'winner.png' | default('NCAA_logo.svg') }}" class="overlay1 float-left" />
          {% elif (end_rounds[item][6] | replace('.png', '')) in elim%}
          	<img src="static/{{ 'loser.png' | default('NCAA_logo.svg') }}" class="overlay1 float-left" />
          {% endif %}      
        </td>
        <td class="cell">{{score[item][7]}}</td>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
    </table>
  </div>
{% endblock %}
