<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta description="NCAA March Madness 2018">
    <title>Mosier Madness</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='bracket.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
   	<script src="{{ url_for('static',filename = 'bracketentry.js')}}"></script>
    <script src="{{ url_for('static',filename = 'scoring.js')}}"></script>
    <script src="{{ url_for('static',filename = 'ui-fancy.js')}}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122580685-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-122580685-1');
    </script>
  </head>

  <body id ="main">
  	<div class="top-fixed">
    	{% include 'includes/_navbar.html' %}
    	{% include 'includes/_scores.html' %}
  	</div>
  	{% include 'includes/_messages.html' %}
  	{% block body %}
    <div class ="container"></div>
    {% endblock %}
    
  </body>
  </html>