{% extends 'layout.html' %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static',filename='match-style.css')}}">
	<div class="game-scoreboard">
		<div>
  		{% if matches[game_id][2]|upper == 'LIVE' %}
  			<h1 style="color:#FFFF33;">LIVE</h1>
  		{% elif matches[game_id][2]|upper == 'PRE' %}
  			<h1 style="color:#ccc;">PRE-GAME</h1>
  		{% else %}
  			<h1 style="color:#990000;">FINAL</h1>
  		{% endif %}
  	</div>
  	<div class="scoreboard">
			<div class="scoreboard-item">
				<div class="team-header">
					<h1>{{matches[game_id][0][4]}}</h1>
				</div>
				<div>
					<h1 class="score">({{matches[game_id][0][1]}}-{{matches[game_id][1][1]}})</h1>
				</div>
				<div class="team-header">
					<h1>{{matches[game_id][1][4]}}</h1>
				</div>
			</div>
			<div class="scoreboard-item">
				<h4 class="team-header">{{matches[game_id][0][5]}}</h4>
				<h4 class="score"></h4>
				<h4 class="team-header">{{matches[game_id][1][5]}}</h4>
			</div>
		</div>
		<div class="game-link">
			<h5><a href="https://www.ncaa.com/{{game_data[game_id][1]}}">NCAA Game Page</a></h5>
		</div>
	</div>
{% endblock %}
