{% extends 'layout.html' %}

{% block body %}
  <div class="container nav-spacer"> 
    <table class="table table-dark table-striped text-center">
      <thead class = "thead-light">
       <tr>
        <th>Year</th>
        <th>Winner</th>
      </tr>
    </thead>
    <tbody>
    	<tr>
	      <th scope="row">2018</th>
	      <td>Josh M</td>
	    </tr>
	    <tr>
	      <th scope="row">2017</th>
	      <td>Sam Z</td>
	    </tr>
	    <tr>
	      <th scope="row">2016</th>
	      <td>Kathy R</td>
	    </tr>
	    <tr>
	      <th scope="row">2015</th>
	      <td>Russell M</td>
	    </tr>
	    <tr>
	      <th scope="row">2014</th>
	      <td>Josh M</td>
	    </tr>
	    <tr>
	      <th scope="row">2013</th>
	      <td>Russell M</td>
	    </tr>
	    <tr>
	      <th scope="row">2012</th>
	      <td>Josh M</td>
	    </tr>
	    <tr>
	      <th scope="row">2011</th>
	      <td>Ethan V</td>
	    </tr>
	    <tr>
	      <th scope="row">2010</th>
	      <td>Rebecca M</td>
	    </tr>
	    <tr>
	      <th scope="row">2009</th>
	      <td>Russell M</td>
	    </tr>
	    <tr>
	      <th scope="row">2008</th>
	      <td>Josh M</td>
	    </tr>
    </tbody>
    </table>
  </div>
{% endblock %}
